<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pastecostam</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .navbar{
        background-color: #ccd8ff;
    }
    .body{
        background-color: rgba(145, 152, 159, 0.39);
    }
</style>
</head>
  <body class="body">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">

{# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'index' %}">Strona główna</a></li>
          {% if user.is_authenticated == False%}
          <li><a class="navbar-link" href="{% url 'paste:register' %}">Zarejestruj</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'paste:moje' %}">Moje wklejki</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'paste:user_login' %}">Zaloguj</a></li>
          {% endif %}

</ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>