{% extends "base.html" %}
{% block body_block %}

<style>
/* Main content */
.main {
    display: inline-block;
 padding: 16px;
 margin-top: auto; /* Add a top margin to avoid content overlay */
 margin-left: auto;
 margin-right: auto;
}
 .wrapper{
  background-color: #6adad3;
  text-align: center;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

textarea {
    text-align:center;
    height: 40em;
    width: 50em;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

</style>

<div class="wrapper">
<article class="main">
    {% if toDelete  %}
    <h1>Po przeczytaniu wiadomość zostanie usunięta </h1>
        <form action="/p/{{ url }}" method="post">
            {% csrf_token %}
        <button class="button" type="submit" style="vertical-align:middle"><span>TAK</span></button>
        <button class="button" onclick="window.location='http://127.0.0.1:8000/';return false;" style="vertical-align:middle"><span>NIE</span></button>
        </form>
    {% elif deleted %}
    <h2>Data odczytania wiadomości:</h2>{{ delete_date }}
    {% else %}
    {{ text }}
    {% endif %}
</article>
</div>

{% endblock %}